body {
    margin: 0;
    padding: 0;
  }
  
  #Navbar .headerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    background-color: white;
  }
  
  #Navbar .headerNav .iconCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #Navbar img{
    cursor: pointer;
  }
  
  #Navbar .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            font-size: 25px;
            /* color: orange; */
            cursor: pointer;
            margin-right: 10px;
  }
  #Navbar span{
    /* color: orange; */
    margin-left: 10px;
  }
  #pricingPlans .sebet{
    background-color: orange;
  }
  #pricingPlans .distance{
    margin-right: 20px;
  }
  #pricingPlans .distance1{
    margin-left: 20px;
  }